In [154]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mpl

In [155]:
df = pd.read_csv('dataset.csv')

In [156]:
df

                     igalki␞Araucaria araucana Unnamed: 1
0              igalki␞Abies alba 'Pyramidalis'        NaN
1       igalki␞Abies amabilis 'Spreading Star'        NaN
2                 igalki␞Abies balsamea 'Nana'        NaN
3     igalki␞Abies cephalonica 'Meyer's Dwarf'        NaN
4                        igalki␞Abies concolor        NaN
...                                        ...        ...
2980   pnącza␞Wisteria floribunda 'Shiro-noda'        NaN
2981       pnącza␞Wisteria sinensis 'Caroline'        NaN
2982       pnącza␞Wisteria sinensis 'Prolific'        NaN
2983                  pnącza␞Wisteria sinensis        NaN
2984                       pnącza␞Vitis ripida        NaN

[2985 rows x 2 columns]

In [157]:
df.columns = ['A','B']

In [158]:
df

                                             A    B
0              igalki␞Abies alba 'Pyramidalis'  NaN
1       igalki␞Abies amabilis 'Spreading Star'  NaN
2                 igalki␞Abies balsamea 'Nana'  NaN
3     igalki␞Abies cephalonica 'Meyer's Dwarf'  NaN
4                        igalki␞Abies concolor  NaN
...                                        ...  ...
2980   pnącza␞Wisteria floribunda 'Shiro-noda'  NaN
2981       pnącza␞Wisteria sinensis 'Caroline'  NaN
2982       pnącza␞Wisteria sinensis 'Prolific'  NaN
2983                  pnącza␞Wisteria sinensis  NaN
2984                       pnącza␞Vitis ripida  NaN

[2985 rows x 2 columns]

In [159]:
df[df['A'].str.contains("in sorten")]

                                                 A    B
523           liściaste␞Buddleja davidii in sorten  NaN
636                liściaste␞Cotoneaster in sorten  NaN
644                    liściaste␞Cytisus in sorten  NaN
672          liściaste␞Euonymus fortunei in sorten  NaN
675         liściaste␞Euonymus japonicus in sorten  NaN
...                                            ...  ...
2971                     pnącza␞Lonicera in sorten  NaN
2976         pnącza␞Schisandra chinensis in sorten  NaN
2977  pnącza␞Schizophragma hydrangeoides in sorten  NaN
2978          pnącza␞Wisteria floribunda in sorten  NaN
2979                     pnącza␞Wisteria in sorten  NaN

[65 rows x 2 columns]

In [160]:
df.drop(df[df['A'].str.contains("in sorten")].index, axis=0, inplace=True)

In [161]:
df['A'] = df['A'].replace({'␞': ' '}, regex=True)

In [162]:
df

                                             A    B
0              igalki Abies alba 'Pyramidalis'  NaN
1       igalki Abies amabilis 'Spreading Star'  NaN
2                 igalki Abies balsamea 'Nana'  NaN
3     igalki Abies cephalonica 'Meyer's Dwarf'  NaN
4                        igalki Abies concolor  NaN
...                                        ...  ...
2980   pnącza Wisteria floribunda 'Shiro-noda'  NaN
2981       pnącza Wisteria sinensis 'Caroline'  NaN
2982       pnącza Wisteria sinensis 'Prolific'  NaN
2983                  pnącza Wisteria sinensis  NaN
2984                       pnącza Vitis ripida  NaN

[2920 rows x 2 columns]

In [163]:
df = df['A'].replace({'\xa0': ' '}, regex=True)

In [164]:
df

0                igalki Abies alba 'Pyramidalis'
1         igalki Abies amabilis 'Spreading Star'
2                   igalki Abies balsamea 'Nana'
3       igalki Abies cephalonica 'Meyer's Dwarf'
4                          igalki Abies concolor
                          ...
2980     pnącza Wisteria floribunda 'Shiro-noda'
2981         pnącza Wisteria sinensis 'Caroline'
2982         pnącza Wisteria sinensis 'Prolific'
2983                    pnącza Wisteria sinensis
2984                         pnącza Vitis ripida
Name: A, Length: 2920, dtype: object

In [165]:
df = df.str.split(' ', expand=True, n=3)

In [166]:
df

           0         1            2                 3
0     igalki     Abies         alba     'Pyramidalis'
1     igalki     Abies     amabilis  'Spreading Star'
2     igalki     Abies     balsamea            'Nana'
3     igalki     Abies  cephalonica   'Meyer's Dwarf'
4     igalki     Abies     concolor              None
...      ...       ...          ...               ...
2980  pnącza  Wisteria   floribunda      'Shiro-noda'
2981  pnącza  Wisteria     sinensis        'Caroline'
2982  pnącza  Wisteria     sinensis        'Prolific'
2983  pnącza  Wisteria     sinensis              None
2984  pnącza     Vitis       ripida              None

[2920 rows x 4 columns]

In [167]:
df.to_csv('better.csv')

In [168]:
df.columns = ['Klasa', 'Rodzina', 'Gatunek', 'Odmiana']

In [169]:
df['Klasa'].unique()

array(['igalki', 'liściaste', 'róże', 'byliny', 'wrzosowate', 'trawy',
       'iglaki', 'alejowe', 'owocowe', 'pnącza'], dtype=object)

In [170]:
df['Klasa'] = df['Klasa'].replace({'igalki' : 'iglaki'}, regex=True)

In [171]:
df['Klasa'].unique()

array(['iglaki', 'liściaste', 'róże', 'byliny', 'wrzosowate', 'trawy',
       'alejowe', 'owocowe', 'pnącza'], dtype=object)

In [172]:
df['Rodzina'].unique()

array(['Abies', 'Cedrus', 'Cephalotaxus', 'Chamaecyparis', 'Ginkgo',
       'Juniperus', 'Larix', 'Metasequoia', 'Microbiota', 'Picea',
       'Pinus', 'Platycladus', 'Pseudotsuga', 'Sciadopitys',
       'Sequoiadendron', 'Taxodium', 'Taxus', 'Thuja', 'Thujopsis',
       'Tsuga', 'Acer', 'Aesculus', 'Albizia', 'Amelanchier', 'Aralia',
       'Aucuba', 'Berberis', 'Betula', 'Buddleja', 'Buxus', 'Callicarpa',
       'Calycanthus', 'Carpinus', 'Caryopteris', 'Catalpa', 'Ceanothus',
       'Cephalanthus', 'Cercidiphyllum', 'Cercis', 'Chaenomeles',
       'Clerodendron', 'Clethra', 'Cornus', 'Corylopsis', 'Corylus',
       'Cotinus', 'Cotoneaster', 'Crataegus', 'Cytisus', '"Cytisis',
       'Daphne', 'Davidia', 'Deutzia', 'Edgeworthia', 'Elaeagnus',
       'Eleutherococcus', 'Euonymus', 'Exochorda', 'Fagus', 'Forsythia',
       'Fothergilla', 'Frangula', 'Hamamelis', 'Heptacodium', 'Hibiscus',
       'Hippophae', 'Hydrangea', '"Hydrangea', 'Hypericum', 'Ilex',
       'Kerria', 'Koelreuteria', 'Kolkwitzia', 'Lagerstroemia',
       'Lavandula', 'Ligustrum', 'Lonicera', 'Magnolia', 'Mahonia',
       'Malus', 'Osmanthus', 'Perovskia', 'Philadelphus', 'Photinia',
       'Platanus', 'Physocarpus', 'Potentilla', 'Prunus', 'Pyracantha',
       'Quercus', 'Ribes', 'Robinia', 'Rostrinucala', 'Rubus', 'Salix',
       'Sambucus', 'xSinocalycanthus', 'Sophora', 'Sorbaria', 'Spiraea',
       'Stachyurus', 'Stephanandra', 'Stewartia', 'Styrax',
       'Symphoricarpos', 'Syringa', 'Tamarix', 'Ulmus', 'Weigela',
       'Viburnum', 'Viburbum', 'Vinca', 'Rosa', 'Acanthus', 'Achillea',
       'Aconitum', 'Actaea', 'Adenophora', 'Adiantum', 'Agapanthus',
       'Agastache', 'Ajuga', 'Alcea', 'Alchemilla', 'Allium', 'Anchusa',
       'Anemone', 'Angelica', 'Anthemis', 'Anthericum', 'Aquilegia',
       'Arabis', 'Arenaria', 'Armeria', 'Artemisia', 'Arum', 'Aruncus',
       'Asarum', 'Asplenium', 'Aster', 'Astilbe', 'Astrantia', 'Athyrium',
       'Aubrieta', 'Aurinia', 'Babtisia', 'Bergenia', 'BLECHNUM',
       'Blechnum', 'Brunnera', 'Calamintha', 'Caltha', 'Camassia',
       'Campanula', 'Centaurea', 'Centranthus', 'Cerastium', 'Chelone',
       'Chrysanthemum', 'Convallaria', 'Convolvulus', 'Coreopsis',
       'Corydalis', 'Cosmos', 'Crambe', 'Crocosmia', 'Cyclamen',
       'Cyrtomium', 'Darmera', 'Delosperma', 'Delphinium', 'Dianthus',
       'Dicentra', 'Dictamnus', 'Digitalis', 'Disporopsis', 'Disporum',
       'Dodecatheon', 'Doronicum', 'DRYOPTERIS', 'Dryopteris',
       'Echinacea', 'Echinops', 'Eleocharis', 'Epilobium', 'Eremurus',
       'Erigeron', 'Erodium', 'Eryngium', 'Erysimum', 'Eupatorium',
       'Euphorbia', 'Fatsia', 'Filipendula', 'Fuchsia', 'Gaillardia',
       'Galanthus', 'Galium', 'Gaura', 'Geum', 'Geranium', 'Gladiolus',
       'Gentiana', 'Gunnera', 'Gypsophila', 'Helenium', 'Helianthemum',
       'Helianthus', 'Helichrysum', 'Heliopsis', 'Helleborus',
       '"Helleborus', 'Hemerocallis', 'Hepatica', 'Herniaria', 'Heuchera',
       'xHeucherella', 'Hosta', 'Houttuynia', 'Hypsela', 'Iberis',
       'Incarvillea', 'Iris', 'Kalimeris', 'Kirengeshoma', 'Knautia',
       'Kniphofia', 'Lamiastrum', 'Lamium', 'Lathyrus', 'Leontopodium',
       'Leptinella', 'Leucanthemum', 'Leucojum', 'Lewisia', 'Liatris',
       'Ligularia', 'Lilium', 'Lillium', 'Lithodora', 'Lobelia',
       'Lupinus', 'Lychnis', 'Lysimachia', 'Lythrum', 'Matteucia',
       'Matteuccia', 'Mazus', 'Meconopsis', 'Mellitis', 'Mentha',
       'Mertensia', 'Monarda', 'Myosotis', 'Nepeta', 'Nymphaea',
       'Oenothera', 'Omphalodes', 'Origanum', 'Osmunda', 'Onopordum',
       'Pachysandra', 'Paeonia', 'Papaver', 'Penstemon', 'Persicaria',
       'Phlomis', 'Phlox', 'Phygelius', 'Phyllitis', 'Physalis',
       'Physostegia', 'Platycodon', 'Podophyllum', 'Polemonium',
       'Polygonatum', 'Polystichum', 'Primula', 'Pulmonaria',
       'Pulsatilla', 'Rehmannia', 'Rheum', 'Rodgersia', 'Rudbeckia',
       'Sagina', 'Salvia', 'Sanguisorba', 'Saxifraga', 'Scabiosa',
       'Sedum', '"Sempervirum', 'Sidalcea', 'SILENE', 'Silene',
       'Sisyrinchium', 'Solidago', 'Spigelia', 'Stachys', 'Symphytum',
       'Tanacetum', 'Thalictrum', 'Thelypteris', 'Thymus', 'Tradescantia',
       'Trifolium', 'Trollius', 'Waldsteinia', 'Verbascum', 'Verbena',
       'Veronica', 'Veronicastrum', 'Viola', 'Yucca', 'Zantedeschia',
       "Zantedeschia'Captain", 'Andromeda', 'Enkianthus', 'Empetrum',
       'Gaultheria', 'Hebe', 'Leucothoe', 'Pernettya', 'Pieris',
       'Rhododendron', '"Rhododendron', '"Rhododendron:', 'Rhododendron:',
       'Skimmia', 'Acorus', 'Arundo', 'Atrophodium', 'Briza',
       'Calamagrostis', 'Carex', 'Chasmanthium', 'Cordyline',
       'Cortaderia', 'Dianella', 'Deschampsia', 'EQUISETUM', 'Equisetum',
       'Eragrostis', 'Fargesia', 'Festuca', 'Ficinia', 'Glyceria',
       'Hakonechloa', 'Helictotrichon', 'Holcus', 'Imperata', 'Juncus',
       'Koeleria', 'Leymus', 'Liriope', 'Luzula', 'Melica', 'Miscanthus',
       'Molinia', 'Muhlenbergia', 'Ophiopogon', 'Panicum', 'Pennisetum',
       'Phalaris', 'Phormium', 'Phragmites', 'Phyllostachys',
       'Pleioblastus', 'Scirpus', 'Schizachyrium', 'Semiarundinaria',
       'Sesleria', 'Sorghastrum', 'Spartina', 'Stipa', 'Typha', 'Alnus',
       'Cercidyphyllum', 'Fraxinus', 'Gleditsia', 'Juglans', 'Laburnum',
       'Liquidambar', 'Liriodendron', 'Paulownia', 'Populus', 'Pyrus',
       'Rhus', 'ROBINIA', 'Sorbus', 'Tilia', 'Aronia', 'Cydonia', 'Ficus',
       'Fragaria', 'Lycium', 'Morus', 'Malina', 'Vaccinium', 'Vitis',
       'Grusza', 'Krzwy', 'Jabłoń', 'Drzewa', 'Akebia', 'Aristolochia',
       'Clematis', 'Follopia', 'Hedera', 'HUMULUS', 'Humulus',
       'Parthenocissus', 'Wisteria'], dtype=object)

In [173]:
df['Rodzina'] = df['Rodzina'].replace({'"' : ''}, regex=True)

In [174]:
df['Rodzina'] = df['Rodzina'].replace({'^x' : ''}, regex=True)

In [175]:
df['Rodzina'] = df['Rodzina'].replace({':$' : ''}, regex=True)

In [176]:
df['Rodzina'] = df['Rodzina'].replace({'^[A-Z]+$' : str.title}, regex=True)

In [177]:
df['Rodzina'].unique()

array(['Abies', 'Cedrus', 'Cephalotaxus', 'Chamaecyparis', 'Ginkgo',
       'Juniperus', 'Larix', 'Metasequoia', 'Microbiota', 'Picea',
       'Pinus', 'Platycladus', 'Pseudotsuga', 'Sciadopitys',
       'Sequoiadendron', 'Taxodium', 'Taxus', 'Thuja', 'Thujopsis',
       'Tsuga', 'Acer', 'Aesculus', 'Albizia', 'Amelanchier', 'Aralia',
       'Aucuba', 'Berberis', 'Betula', 'Buddleja', 'Buxus', 'Callicarpa',
       'Calycanthus', 'Carpinus', 'Caryopteris', 'Catalpa', 'Ceanothus',
       'Cephalanthus', 'Cercidiphyllum', 'Cercis', 'Chaenomeles',
       'Clerodendron', 'Clethra', 'Cornus', 'Corylopsis', 'Corylus',
       'Cotinus', 'Cotoneaster', 'Crataegus', 'Cytisus', 'Cytisis',
       'Daphne', 'Davidia', 'Deutzia', 'Edgeworthia', 'Elaeagnus',
       'Eleutherococcus', 'Euonymus', 'Exochorda', 'Fagus', 'Forsythia',
       'Fothergilla', 'Frangula', 'Hamamelis', 'Heptacodium', 'Hibiscus',
       'Hippophae', 'Hydrangea', 'Hypericum', 'Ilex', 'Kerria',
       'Koelreuteria', 'Kolkwitzia', 'Lagerstroemia', 'Lavandula',
       'Ligustrum', 'Lonicera', 'Magnolia', 'Mahonia', 'Malus',
       'Osmanthus', 'Perovskia', 'Philadelphus', 'Photinia', 'Platanus',
       'Physocarpus', 'Potentilla', 'Prunus', 'Pyracantha', 'Quercus',
       'Ribes', 'Robinia', 'Rostrinucala', 'Rubus', 'Salix', 'Sambucus',
       'Sinocalycanthus', 'Sophora', 'Sorbaria', 'Spiraea', 'Stachyurus',
       'Stephanandra', 'Stewartia', 'Styrax', 'Symphoricarpos', 'Syringa',
       'Tamarix', 'Ulmus', 'Weigela', 'Viburnum', 'Viburbum', 'Vinca',
       'Rosa', 'Acanthus', 'Achillea', 'Aconitum', 'Actaea', 'Adenophora',
       'Adiantum', 'Agapanthus', 'Agastache', 'Ajuga', 'Alcea',
       'Alchemilla', 'Allium', 'Anchusa', 'Anemone', 'Angelica',
       'Anthemis', 'Anthericum', 'Aquilegia', 'Arabis', 'Arenaria',
       'Armeria', 'Artemisia', 'Arum', 'Aruncus', 'Asarum', 'Asplenium',
       'Aster', 'Astilbe', 'Astrantia', 'Athyrium', 'Aubrieta', 'Aurinia',
       'Babtisia', 'Bergenia', <method 'title' of 'str' objects>,
       'Blechnum', 'Brunnera', 'Calamintha', 'Caltha', 'Camassia',
       'Campanula', 'Centaurea', 'Centranthus', 'Cerastium', 'Chelone',
       'Chrysanthemum', 'Convallaria', 'Convolvulus', 'Coreopsis',
       'Corydalis', 'Cosmos', 'Crambe', 'Crocosmia', 'Cyclamen',
       'Cyrtomium', 'Darmera', 'Delosperma', 'Delphinium', 'Dianthus',
       'Dicentra', 'Dictamnus', 'Digitalis', 'Disporopsis', 'Disporum',
       'Dodecatheon', 'Doronicum', 'Dryopteris', 'Echinacea', 'Echinops',
       'Eleocharis', 'Epilobium', 'Eremurus', 'Erigeron', 'Erodium',
       'Eryngium', 'Erysimum', 'Eupatorium', 'Euphorbia', 'Fatsia',
       'Filipendula', 'Fuchsia', 'Gaillardia', 'Galanthus', 'Galium',
       'Gaura', 'Geum', 'Geranium', 'Gladiolus', 'Gentiana', 'Gunnera',
       'Gypsophila', 'Helenium', 'Helianthemum', 'Helianthus',
       'Helichrysum', 'Heliopsis', 'Helleborus', 'Hemerocallis',
       'Hepatica', 'Herniaria', 'Heuchera', 'Heucherella', 'Hosta',
       'Houttuynia', 'Hypsela', 'Iberis', 'Incarvillea', 'Iris',
       'Kalimeris', 'Kirengeshoma', 'Knautia', 'Kniphofia', 'Lamiastrum',
       'Lamium', 'Lathyrus', 'Leontopodium', 'Leptinella', 'Leucanthemum',
       'Leucojum', 'Lewisia', 'Liatris', 'Ligularia', 'Lilium', 'Lillium',
       'Lithodora', 'Lobelia', 'Lupinus', 'Lychnis', 'Lysimachia',
       'Lythrum', 'Matteucia', 'Matteuccia', 'Mazus', 'Meconopsis',
       'Mellitis', 'Mentha', 'Mertensia', 'Monarda', 'Myosotis', 'Nepeta',
       'Nymphaea', 'Oenothera', 'Omphalodes', 'Origanum', 'Osmunda',
       'Onopordum', 'Pachysandra', 'Paeonia', 'Papaver', 'Penstemon',
       'Persicaria', 'Phlomis', 'Phlox', 'Phygelius', 'Phyllitis',
       'Physalis', 'Physostegia', 'Platycodon', 'Podophyllum',
       'Polemonium', 'Polygonatum', 'Polystichum', 'Primula',
       'Pulmonaria', 'Pulsatilla', 'Rehmannia', 'Rheum', 'Rodgersia',
       'Rudbeckia', 'Sagina', 'Salvia', 'Sanguisorba', 'Saxifraga',
       'Scabiosa', 'Sedum', 'Sempervirum', 'Sidalcea', 'Silene',
       'Sisyrinchium', 'Solidago', 'Spigelia', 'Stachys', 'Symphytum',
       'Tanacetum', 'Thalictrum', 'Thelypteris', 'Thymus', 'Tradescantia',
       'Trifolium', 'Trollius', 'Waldsteinia', 'Verbascum', 'Verbena',
       'Veronica', 'Veronicastrum', 'Viola', 'Yucca', 'Zantedeschia',
       "Zantedeschia'Captain", 'Andromeda', 'Enkianthus', 'Empetrum',
       'Gaultheria', 'Hebe', 'Leucothoe', 'Pernettya', 'Pieris',
       'Rhododendron', 'Skimmia', 'Acorus', 'Arundo', 'Atrophodium',
       'Briza', 'Calamagrostis', 'Carex', 'Chasmanthium', 'Cordyline',
       'Cortaderia', 'Dianella', 'Deschampsia', 'Equisetum', 'Eragrostis',
       'Fargesia', 'Festuca', 'Ficinia', 'Glyceria', 'Hakonechloa',
       'Helictotrichon', 'Holcus', 'Imperata', 'Juncus', 'Koeleria',
       'Leymus', 'Liriope', 'Luzula', 'Melica', 'Miscanthus', 'Molinia',
       'Muhlenbergia', 'Ophiopogon', 'Panicum', 'Pennisetum', 'Phalaris',
       'Phormium', 'Phragmites', 'Phyllostachys', 'Pleioblastus',
       'Scirpus', 'Schizachyrium', 'Semiarundinaria', 'Sesleria',
       'Sorghastrum', 'Spartina', 'Stipa', 'Typha', 'Alnus',
       'Cercidyphyllum', 'Fraxinus', 'Gleditsia', 'Juglans', 'Laburnum',
       'Liquidambar', 'Liriodendron', 'Paulownia', 'Populus', 'Pyrus',
       'Rhus', 'Sorbus', 'Tilia', 'Aronia', 'Cydonia', 'Ficus',
       'Fragaria', 'Lycium', 'Morus', 'Malina', 'Vaccinium', 'Vitis',
       'Grusza', 'Krzwy', 'Jabłoń', 'Drzewa', 'Akebia', 'Aristolochia',
       'Clematis', 'Follopia', 'Hedera', 'Humulus', 'Parthenocissus',
       'Wisteria'], dtype=object)

In [178]:
df.to_csv('ver1_0.csv')