In [311]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mpl

In [312]:
df = pd.read_csv('dataset.csv')

In [313]:
df

                     igalki␞Araucaria araucana Unnamed: 1
0              igalki␞Abies alba 'Pyramidalis'        NaN
1       igalki␞Abies amabilis 'Spreading Star'        NaN
2                 igalki␞Abies balsamea 'Nana'        NaN
3     igalki␞Abies cephalonica 'Meyer's Dwarf'        NaN
4                        igalki␞Abies concolor        NaN
...                                        ...        ...
2980   pnącza␞Wisteria floribunda 'Shiro-noda'        NaN
2981       pnącza␞Wisteria sinensis 'Caroline'        NaN
2982       pnącza␞Wisteria sinensis 'Prolific'        NaN
2983                  pnącza␞Wisteria sinensis        NaN
2984                       pnącza␞Vitis ripida        NaN

[2985 rows x 2 columns]

### Przygotowanie Danych

In [314]:
column_headers = list(df.columns.values)

In [315]:
df.columns = ['A','B']

In [316]:
df2 = {'A' : column_headers[0], 'B' : np.nan}
df = df._append(df2, ignore_index = True)

In [317]:
df

                                             A    B
0              igalki␞Abies alba 'Pyramidalis'  NaN
1       igalki␞Abies amabilis 'Spreading Star'  NaN
2                 igalki␞Abies balsamea 'Nana'  NaN
3     igalki␞Abies cephalonica 'Meyer's Dwarf'  NaN
4                        igalki␞Abies concolor  NaN
...                                        ...  ...
2981       pnącza␞Wisteria sinensis 'Caroline'  NaN
2982       pnącza␞Wisteria sinensis 'Prolific'  NaN
2983                  pnącza␞Wisteria sinensis  NaN
2984                       pnącza␞Vitis ripida  NaN
2985                 igalki␞Araucaria araucana  NaN

[2986 rows x 2 columns]

In [318]:
df[df['A'].str.contains("in sorten")]

                                                 A    B
523           liściaste␞Buddleja davidii in sorten  NaN
636                liściaste␞Cotoneaster in sorten  NaN
644                    liściaste␞Cytisus in sorten  NaN
672          liściaste␞Euonymus fortunei in sorten  NaN
675         liściaste␞Euonymus japonicus in sorten  NaN
...                                            ...  ...
2971                     pnącza␞Lonicera in sorten  NaN
2976         pnącza␞Schisandra chinensis in sorten  NaN
2977  pnącza␞Schizophragma hydrangeoides in sorten  NaN
2978          pnącza␞Wisteria floribunda in sorten  NaN
2979                     pnącza␞Wisteria in sorten  NaN

[65 rows x 2 columns]

In [319]:
df.drop(df[df['A'].str.contains("in sorten")].index, axis=0, inplace=True)

In [320]:
df['A'] = df['A'].replace({'®' : ''}, regex=True)

In [321]:
df['A'] = df['A'].replace({'™' : ''}, regex=True)

In [322]:
df['A'] = df['A'].replace({'©' : ''}, regex=True)

In [323]:
df['A'] = df['A'].replace({'PP[0-9]+' : ''}, regex=True)

In [324]:
df['A'] = df['A'].replace({'P[0-9]+' : ''}, regex=True)

In [325]:
df['A'] = df['A'].replace({'PP[A-Z]+' : ''}, regex=True)

In [326]:
df['A'] = df['A'].replace({'EU[0-9]+' : ''}, regex=True)

In [327]:
df['A'] = df['A'].replace({'E[0-9]+' : ''}, regex=True)

In [328]:
df['A'] = df['A'].replace({'PVR' : ''}, regex=True)

In [329]:
df['A'] = df['A'].replace({'PRV' : ''}, regex=True)

In [330]:
# PBR miało zostać
#df['A'] = df['A'].replace({'PBR' : ''}, regex=True)

In [331]:
df['A'] = df['A'].replace({'WU[0-9]+' : ''}, regex=True)

In [332]:
#df['A'] = df['A'].replace({'.[0-9]+' : ''}, regex=True)

In [333]:
df['A'] = df['A'].replace({'\\+E15' : ''}, regex=True)

In [334]:
df['A'] = df['A'].replace({'[0-9]+$' : ''}, regex=True)

In [335]:
df['A'] = df['A'].replace({'␞': ' '}, regex=True)

In [336]:
df

                                             A    B
0              igalki Abies alba 'Pyramidalis'  NaN
1       igalki Abies amabilis 'Spreading Star'  NaN
2                 igalki Abies balsamea 'Nana'  NaN
3     igalki Abies cephalonica 'Meyer's Dwarf'  NaN
4                        igalki Abies concolor  NaN
...                                        ...  ...
2981       pnącza Wisteria sinensis 'Caroline'  NaN
2982       pnącza Wisteria sinensis 'Prolific'  NaN
2983                  pnącza Wisteria sinensis  NaN
2984                       pnącza Vitis ripida  NaN
2985                 igalki Araucaria araucana  NaN

[2921 rows x 2 columns]

In [337]:
df = df['A'].replace({'\xa0': ' '}, regex=True)

### Do zaprogramowania

TODO:
- zmienić klasy na angielskie (po nauczonym modelu będzie to można zrobić
z powrotem na Polski)
- Jak juz bede wiedzial jak, to pozbyć sie tych liń które nie mają odmian
- przeskanować database i poprawić reszte ręcznie

In [339]:
# Co robić z długimi liniami z średnikami? 647

In [340]:
# pozbyć się tych liń które nie mają odmian, ale uważając na to,
# że niektóre rośliny ich nie mają po prostu


# Jesli dany gatunek ma jakąś swoją kopie w databasie jeszcze i nie ma tutaj odmiany
# to usun tą linie

In [341]:
# pozbycie sie nawiasów i rzeczy w nich ( z wyjątkiem "(x)")

In [342]:
# zmienić z drukowanych na odpowiadające w danym miejscu

In [343]:
# 614 drop duplicates

## Na koniec

In [344]:
# liczby i ukośniki 1845

In [345]:
# usunac wiecej niz jedna spacje

### Do usunięcia ręcznie (nie opłaca sie pisać kodu na to)

In [346]:
# - jakis kolor 1711

In [ ]:
#df[df['A'].str.contains('GOLDEN SMARAGD')]

In [347]:
# PROMOCJA 391

In [348]:
# TM TM MIX 2151

In [349]:
# usunąć EU 1823

In [350]:
# COCTAIL -> cocktail 766

In [351]:
# ":-((" 749

In [352]:
# 2011 "(j.róż" usunac recznie

In [353]:
# 1915 CPBRAF usunac

In [354]:
# 1807 numery

In [355]:
# 1730 dwukropki

In [356]:
#2099 nie ma czegos takiego jak WEST COUNTRY COLLECTION

In [357]:
# 1940 Shadowland cost to cost -> coast to coast

In [358]:
# 2692 globos+um

In [359]:
df = df.str.split(' ', expand=True, n=3)

In [361]:
df.columns = ['Klasa', 'Rodzina', 'Gatunek', 'Odmiana']

### Edycja klas

In [362]:
df['Klasa'].unique()

array(['igalki', 'liściaste', 'róże', 'byliny', 'wrzosowate', 'trawy',
       'iglaki', 'alejowe', 'owocowe', 'pnącza'], dtype=object)

In [363]:
df['Klasa'] = df['Klasa'].replace({'igalki' : 'iglaki'}, regex=True)

In [407]:
Klasa_database = df.Klasa.drop_duplicates()

In [433]:
Klasa_database = Klasa_database.reset_index(drop=True)

In [434]:
Klasa_database.to_csv("Klasa_database.csv")

### Edycja Rodzin roślin

In [366]:
df['Rodzina'] = df['Rodzina'].replace({'Cytisis' : 'Cytisus'}, regex=True)

In [367]:
df['Rodzina'] = df['Rodzina'].replace({'"' : ''}, regex=True)

In [368]:
df['Rodzina'] = df['Rodzina'].replace({'^x' : ''}, regex=True)

In [369]:
df['Rodzina'] = df['Rodzina'].replace({'Lillium' : 'Lilium'}, regex=True)

In [371]:
df['Rodzina'] = df['Rodzina'].replace({':$' : ''}, regex=True)

In [372]:
df['Rodzina'] = df['Rodzina'].str.title()

In [399]:
Rodzina_database = df['Klasa'] + " " +df['Rodzina']

In [430]:
Rodzina_database = Rodzina_database.drop_duplicates()

In [431]:
Rodzina_database = Rodzina_database.reset_index(drop=True)

In [432]:
Rodzina_database.to_csv("Rodzina_database.csv")

### Edycja Gatunków roślin

In [374]:
# import żebym mógł wyświetlić wszystkie różnorodne gatunki a potem odmiany
import sys
np.set_printoptions(threshold=sys.maxsize)

In [375]:
df['Gatunek'] = df['Gatunek'].str.title()

In [402]:
Gatunek_database = df['Klasa'] + " " + df['Rodzina'] + " " + df['Gatunek']

In [404]:
Gatunek_database = Gatunek_database.drop_duplicates()

0                        iglaki Abies Alba
1                    iglaki Abies Amabilis
2                    iglaki Abies Balsamea
3                 iglaki Abies Cephalonica
4                    iglaki Abies Concolor
                       ...
2974    pnącza Parthenocissus Tricuspidata
2980            pnącza Wisteria Floribunda
2981              pnącza Wisteria Sinensis
2984                   pnącza Vitis Ripida
2985             iglaki Araucaria Araucana
Length: 1436, dtype: object

In [435]:
Gatunek_database = Gatunek_database.reset_index(drop=True)

In [436]:
Gatunek_database.to_csv("Gatunek_database.csv")

### Edycja Odmian roślin

In [380]:
df.drop_duplicates()

       Klasa    Rodzina      Gatunek           Odmiana
0     iglaki      Abies         Alba     'Pyramidalis'
1     iglaki      Abies     Amabilis  'Spreading Star'
2     iglaki      Abies     Balsamea            'Nana'
3     iglaki      Abies  Cephalonica   'Meyer's Dwarf'
4     iglaki      Abies     Concolor              None
...      ...        ...          ...               ...
2981  pnącza   Wisteria     Sinensis        'Caroline'
2982  pnącza   Wisteria     Sinensis        'Prolific'
2983  pnącza   Wisteria     Sinensis              None
2984  pnącza      Vitis       Ripida              None
2985  iglaki  Araucaria     Araucana              None

[2919 rows x 4 columns]

In [381]:
df.to_csv("ver2_0.csv")